<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957786893349-6stoan7r26hup690g2pe1j5bkp9n5717.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957786893349-6stoan7r26hup690g2pe1j5bkp9n5717</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>957786893349-5l2208f2dkj75ge3m45b7uq8ianq40d5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuXvVuuzndqusFkXmSMR4Df5NMjXXuPmU</string>
	<key>GCM_SENDER_ID</key>
	<string>957786893349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookyourturf.app</string>
	<key>PROJECT_ID</key>
	<string>play-arena-e83d8</string>
	<key>STORAGE_BUCKET</key>
	<string>play-arena-e83d8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957786893349:ios:6929115c320e01c40423cc</string>
</dict>
</plist>